* {
  margin: 0;
  padding: 0;
}

#tileStore {
  position: relative;
  border-width: 3px;
  border-color: black;
}

.rune {
  z-index: 2;
  width: 75px;
  height: 75px;
  top:0px;
  left:0px;
  position: relative;
}

#dropZone {
  height:200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#dragZone {
  z-index: 0;
  z-index:5;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentPuzzle {
  z-index: 0;
  position:absolute;
}

#clear {
  margin-top: 50px;
  margin-left: 10px;
}