* {
  margin: 0;
  padding: 0;
}

#tileStore {
  position: relative;
  border-width: 3px;
  border-color: black;
}

.rune {
  width: 73px;
  height: 75px;
  top:0px;
  left:0px;
  position: relative;
}

#dropZone {
  height:200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
